<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='assets/font-awesome/css/all.css') }}"
    />

    <title>Harvest Hub</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav-body">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="{{ url_for('static', filename='assets/images/harvest-hub.png') }}"
            alt=""
            class="nav-logo"
        /></a>

        <button
          class="navbar-toggler bg-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <main class="container-fluid">
      <section class="row text-center mt-3">
        <h3 class="text-success">Login To Admin Dashboard</h3>
      </section>
      {% set message = get_flashed_messages(with_categories=True) %}
                {% if message %}
                  {% for msg , cat in message %}
                    {% if cat == 'errors' %}
                      <div class="alert alert-danger mt-3">{{msg}}</div>
                    {% else %}
                      <div class="alert alert-success">{{msg}}</div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
      <section class="row justify-content-center">
        <div class="col-md-5 my-md-3 py-5 px-4 bg-success rounded">
          <form method="POST" action="{{ url_for('admin_login') }}">
            {{ admin.csrf_token() }}  
          
            <div class="col-md-10">
              {{ admin.username.label(class="text-light") }}
              {{ admin.username(class="mb-3 form-control rounded-pill") }}
            </div>
            <div class="col-md-10">
              {{ admin.password.label(class="text-light") }}
              {{ admin.password(class="mb-3 form-control rounded-pill") }}
            </div>
          
            <div class="col-md-10 d-flex justify-content-end">
              {{ admin.submit(class="btn bg-dark text-light col-md-6 my-3") }}
            </div>
          </fo>
          
        </div>
      </section>
    </main>
  </body>
</html>
