{% include './navbar.html' %}

<div class="container">
  <div class="row justify-content-center my-md-5">
    <div class="col-md-5">
      {% set messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for cat, msg in messages %}
      {% if cat == 'errors' %}
      <div class="alert alert-danger">{{ msg }}</div>
      {% else %}
      <div class="alert alert-success">{{ msg }}</div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <form action="" method="post" id="login-form" novalidate>
        <div class="rest-bg my-5 rounded-4 card-padding py-5" id="login-rest">
          <h3 class="mb-4">Login</h3>
          {{ restaurant.csrf_token() }}
          <div class="mb-3">
            {{restaurant.email.label}}<br>
            {{restaurant.email(class_='form-control',id='rest-password')}}
            {% if restaurant.email.errors %}
            {% for error in restaurant.email.errors %}
            <span class="text-danger">{{error}}</span>
            {% endfor %}
            {% endif %}
          </div>
          <div class="mb-3">

            {{restaurant.password.label}}
            {{restaurant.password(class_='form-control')}}
            {% if restaurant.password.errors %}
            {% for error in restaurant.password.errors %}
            <span class="text-danger">{{error}}</span>
            {% endfor %}
            {% endif %}
          </div>
          <div class="mb-3 col-md-5">

            {{restaurant.submit(class_='col-12 btn btn-success')}}
          </div>
        </div>
      </form>
    </div>


    <div class="col-md-5">
      <img src="/static/assets/images/chef.png" alt="restaurant" class="img-fluid" />
    </div>


  </div>
</div>

{% include 'footer.html' %}