{% include 'navbar.html' %}

<div class="container">
  <div>
    {% set messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for cat, msg in messages %}
    {% if cat == 'error' %}
    <div class="alert alert-danger">{{ msg }}</div>
    {% else %}
    <div class="alert alert-success">{{ msg }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}


    <form action="/restaurant-signup/" method="post" id="sign-form" novalidate>
      <!-- Restaurant Owner Signup -->
      {{ restaurant.csrf_token() }}
      <div class="rest-bg my-5 rounded-4 card-padding py-5" id="sign-rest" style="max-width: 700px; margin: auto;">
        <h3 class="text-center mb-4">Restaurant Signup</h3>
        <div class="mb-3">
          {{ restaurant.name.label }}
          {{ restaurant.name(class_='form-control', id='name-r') }}
          {% if restaurant.name.errors %}
          {% for error in restaurant.name.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ restaurant.address.label }}
          {{ restaurant.address(class_='form-control', id='address') }}
          {% if restaurant.address.errors %}
          {% for error in restaurant.address.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ restaurant.contact_email.label }}
          {{ restaurant.contact_email(class_='form-control', id='contact-email') }}
          {% if restaurant.contact_email.errors %}
          {% for error in restaurant.contact_email.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ restaurant.contact_num.label }}
          {{ restaurant.contact_num(class_='form-control', id='contact-number') }}
          {% if restaurant.contact_num.errors %}
          {% for error in restaurant.contact_num.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ restaurant.password.label }}
          {{ restaurant.password(class_='form-control', id='contact-password') }}
          {% if restaurant.password.errors %}
          {% for error in restaurant.password.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ restaurant.cpassword.label }}
          {{ restaurant.cpassword(class_='form-control', id='confirm-password') }}
          {% if restaurant.cpassword.errors %}
          {% for error in restaurant.cpassword.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mb-3 col-md-5">
          <button type="submit" class="col-12 btn btn-success" id="signup-button">Signup</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% include 'footer.html' %}